body {
    font-family:Raleway;
    background-color: #91CABA;
    color: #2C4B42;
}

h1,h2,h3,h4,h5,h6 {
    font-family:"Bebas Neue";
    color: #2C4B42;
    font-size: 55pt;
}

header {
    text-align:center;
}

#hero, footer {
    color: #2C4B42;
    border: 2px solid #2C4B42;
    text-align:center;
    background-color: #87F5D6;
    padding: 10px;
}
/*Hero Section*/
#hero img {
    width: 300px;
    height: auto;
}

/*Bio Section*/
#bio {
    text-align: center;
}

/*Hobbies Section*/
#hobbies ul li:nth-child(odd) {
    color: #87F5D6;
    list-style-type: square;
}
/*Gallery Section*/
    #gallery {
    border: 7px solid #2C4B42;
    text-align:center;
    margin-bottom:2rem;

}
    #gallery img {
        max-width: 100%;
    }

    #gallery figure {
        text-align:center;
    }

/*Literature*/
#lit {
    border: 7px solid #2C4B42;
    text-align:center;

}

#lit div {
    padding: 1rem;
    max-width: 40rem;
    margin: 0 auto;
}
#lit div p {
    padding: 0.3rem 0;
    clear:both;
}

/*Dropcaps*/
#lit div p::first-letter {
    color:#000000;
    background-image:radial-gradient(#87F5D6, #2C4B42);
    float:left;
    font-size: 3rem;
    line-height: .65;
    border: 1px outset #2C4B42;
    box-shadow: 2px 2px 2px #2C4B42;
    padding: 0.1rem;
}